{% extends "_layouts/base.html" %}
{% block content %}
<div class="newchar-index row">
    <div class="newchar-header col-md-6 col-md-offset-3">
        <h1>Character Basic Information</h1>
    </div>
    <div class="newchar-box col-md-6 col-md-offset-3">
        <form method="POST" action="/chargen">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}<br/>
                {{ form.name(class_="newchar-name form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label }}<br/>
                {{ form.description(class_="newchar-desc form-control") }}
            </div>
            <div class="form-group">
                {{ form.private_description.label }}<br/>
                {{ form.private_description(class_="newchar-desc form-control") }}
            </div>
            <div class="form-group">
                {{ form.chapter.label }}<br/>
                {{ form.chapter(class_="newchar-chapter form-control") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
